<div class="d-flex flex-row">
    <div class="p-2">
        <div class="frame">
            <a href="https://www.instagram.com/6degrees.socialapp/" title="6 Degrees Instagram">
                <img src="../../assets/Images/instagram-logo.png" id="instagram-logo"></a>
            <app-instagram-carousel 
            (slideNum)="getSlideNum($event)"></app-instagram-carousel>

            <div class="icons">
                <a href="https://www.instagram.com/6degrees.socialapp/" title="Like">
                    <img src="../../assets/Images/heart-icon.png">
                </a>
                <a href="https://www.instagram.com/6degrees.socialapp/" title="Comment">
                    <img src="../../assets/Images/comment-icon.png" id="comment-icon">
                </a>
                <a href="https://www.instagram.com/6degrees.socialapp/" title="Share">
                    <img src="../../assets/Images/share-icon.png">
                </a>
            </div>

            <p>{{ caption }}</p>

            <p><a href="https://www.instagram.com/6degrees.socialapp/">#6Degrees </a> 
                <a href="https://www.instagram.com/6degrees.socialapp/">#recommendationsfromfriends </a>
                <a href="https://www.instagram.com/6degrees.socialapp/">#travel</a>
            </p>
        </div>
    </div>
</div>

