.frame {
    margin: 20px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 100px;
    border: 1px solid;
    background-color: lightgray;
    box-shadow: 5px 10px 8px 10px #888888;
}