.slick-slider {
  width: 400px;
  padding: 5px;
}

.slick-slider img {
  height: 400px;
  margin: 0 auto;
  min-width: 100%;
}
.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}





