// .container-fluid{
//     width: calc(100% - 2 * 32px);
//     padding: 0 32px;
// }

#logo{
    content:url("../../assets/Images/6DegreesPerfectNewPNG.png");
    height: 70px;
}

.btn{
    margin-right: 15px;
}