#logo{
    content:url("../../assets/Images/6-Degrees-Perfect-New-PNG-WHITE.png");
    height: 70px;
}

.btn{
    margin-right: 15px;
}

#logoWord{
    color: white;
}
// nav {
//     padding: 0;
// }