#logo{
    content:url("../../assets/Images/6-degrees-perfect-whiteInside.png");
    height: 50px;
}

.btn{
    margin-right: 15px;
}

#logoWord{
    color: Black;
}
.btn-success, .btn-success:active, .btn-success:visited {
  background-color: #92af65 !important;
  border-color: #92af65 !important;
  animation-name: btn-hover;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.btn-success:hover {
  filter: brightness(60%);
  transition: filter 1.5s;
}
