<app-about-section #aboutSection></app-about-section>
<app-app-section  #appSectionWrap></app-app-section>
<app-steps-section #stepsSectionWrap></app-steps-section>
<app-instagram-section #instaSectionWrap></app-instagram-section>
<app-community-section #community></app-community-section>
<!-- Footer -->
<footer class="page-footer font-small blue" id="foot">

        <!-- Copyright -->
        <div class="footer-copyright text-right py-3">© 2018 Copyright:
          <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      
      </footer>
      <!-- Footer -->
