app-about-section {
  position: absolute;
  width: 100%;
}
app-app-section {
  position: absolute;
  width: 100%;
}
app-steps-section {
  position: absolute;
  width: 100%;
}
app-instagram-section {
  position: absolute;
  width: 100%;
}
