<div class="contain">
  <div class="container">
    <h1 class="text-center mb-5">Contact us</h1>
      <ul class="list-community" id="community-list-desk">
          <li>
            <a href="https://www.instagram.com/6degrees.socialapp/" target="_blank">
              <div class="icon-holder-com">
                <img src="../../assets/Images/instagram-logo2.png">
              </div>
              <p>Follow, tag or message us on Instagram</p>
              <h5>@6degrees.social</h5>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/6degrees.socialapp/" target="_blank">
              <div class="icon-holder-com">
                <img src="../../assets/Images/icon-com-2.png">
              </div>
              <p>Follow, tag or message us on Facebook</p>
              <h5>@6dEGREES</h5>
            </a>
          </li>
          <li>
            <a href="mailto:contact@6degrees.social">
              <div class="icon-holder-com">
                <img src="../../assets/Images/icon_mail.png">
              </div>
              <p>Contact us by email if you prefer</p>
              <br />
              <h5>contact@6degrees.social</h5>
            </a>
          </li>
        </ul>    
  </div>
</div>

