.container {
	background-color: #48494b;
	padding-top: 20px;
}

h1 {
	color: white;
}


.contain {
	background-color: #48494b;
	width: 100%;
	margin: 0;
}

.list-community{
	margin: 0;
	padding: 0;
	list-style: none;
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
}

.list-community li{
	margin: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 45px;
	text-align: center;
	-webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
	margin-bottom: 50px;
	background-color: #48494b;
}
.list-community li:focus,
.list-community li:hover{
	-webkit-box-shadow: 0 0 10px 1px rgba(155, 143, 143, 0.15);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.15);
}

.list-community li p{
	font-size: 18px;
	color: White;
	margin: 0 0 50px 0;
}

.list-community li h5{
	margin: 0 0 10px 0;
	font-size: 12px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
}

.icon-holder-com{
	height: 145px;
	display: block;
	text-align: center;
}

a {
    text-decoration:  none;
}

img {
	height: 117px;
	width: 117px;
}

@media (max-width: 769px) {
  h1 {
    font-size: 42px;
  }
}

