.insta-container{
  height:700px;
  margin-top: 500px;
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}

//@media (min-width: 700px ) {
//  .insta-container {
//    margin-top: 400px;
//  }
//}
