<div class="insta-container">
  <div class="container-fluid w-75">
    <div class="app-heading">
      <h1>Trusted Recommendations from people you know for experiences you want</h1>
    </div>
    <div class="colContainer">
      <div class="row">
        <div class="col mt-5">
          <p class="paragraph w-50">Download the social travel app you’ve been waiting for and join thousands of people finding hotels, apartments and holiday homes as recommended by their friends. Save time, money and book with confidence by having instant access to real experiences from friends who were there.</p>
        </div>
        <div class="col mt-5">
          <app-instagram-feed></app-instagram-feed>
        </div>
      </div>
    </div>
  </div>

</div>
<app-community-section></app-community-section>
