.insta-container{
  margin-top: 500px;
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}
.paragraph {
  text-align: left;
  font-size: 26px;
}

.container-fluid {
  width: 70%;
}
.app-community-section {
  width: 300px;
}
.social-link {
  margin-left: 20px;
}
.mobile-links {
  visibility: hidden;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 1200px) {
  h1 {
    font-size: 42px;
    font-weight: 700;
  }
  .container-fluid {
    width: 100%;
  }
  .paragraph {
    font-size: 24px;
    margin-left: 10px;
  }
}
@media (max-width: 769px) {

  .insta-container {
    margin-top: 400px;
  }
  .insta-frame {
    display: inline-block;
  }
  .para-section {
    display: none;
  }
  .app-instagram-view {
    text-align: center;
    width: 300px;
    top: 50%;
    margin: 0 auto;
  }
  .mobile-links {
    visibility: visible;
  }
}


