.insta-container{
  margin-top: 500px;
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}
.paragraph {
  text-align: left;
  font-size: 26px;
}
.container-fluid {
  width: 80%;
}
.app-community-section {
  width: 300px;
}
.social-link {
  margin-left: 5px;
}
@media (max-width: 769px) {
  .para-section {
    display: none;
  }
}


