.about-container{
  font-size: 22px;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}

h1 {
  color: black;
  font-size: 70px;
  font-weight: 700;
}
@media (min-width: 1700px ) {
  h1 {
    font-size: 82px;
  }
  p {
    font-size: 36px;
  }
}
#about-pic{
  background-size: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
}
.app-link {
  width: 150px;
  margin: 10px;
}
