<div>
<div class="about-container">
  <div class="container-fluid">
    <div>
      <h1>The perfect place to find the perfect place.</h1>
      <p>Taking the hassle out of booking your next holiday.</p>
      <div class="row">
        <div class="col">
          <img class="app-link" src="../../assets/Badges/app-store-badge.png" >
          <a href="https://play.google.com/store/apps/details?id=com.sixdegrees.social&hl=en"><img class="app-link" src="../../assets/Badges/google-play-badge-other.png" ></a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="pic-Container">
  <img id="about-pic" src="../../assets/Images/Get-Trusted-Travel-Recommendations-small.jpg" #aboutPic>
</div>
