<div class="about-container">
    <!-- <mdb-navbar SideClass="navbar navbar-dark indigo fixed-top">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">Navbar</a>
        </mdb-navbar-brand>
    </mdb-navbar> -->
  <div class="container-fluid">
    <div class="about-heading">
      <h1>Welcome to our page and more importantly our community.</h1>
      <p>Stay with us to find out who we are, what we are doing, and why it will help 
        make your online shopping experience significantly quicker, easier, and better!</p>
    </div>
  </div>

  <img id="about-pic">
</div>

