<div>
<div class="h-50 about-container">
    <!-- <mdb-navbar SideClass="navbar navbar-dark indigo fixed-top">
        <mdb-navbar-brand>
            <a class="navbar-brand" href="#">Navbar</a>
        </mdb-navbar-brand>
    </mdb-navbar> -->
  <div class="container-fluid w-75">
    <div>
      <h1>The perfect place to find the perfect place.</h1>
      <p>Taking the hassle out of booking your next holiday.</p>
      <div class="row">
        <div class="col">
          <img class="app-link" src="../../assets/Badges/app-store-badge.png" >
          <img class="app-link" src="../../assets/Badges/google-play-badge-other.png" >
        </div>
      </div>
    </div>
  </div>

</div>

</div>
<img id="about-pic" #aboutPic>
<!--<img src="../../assets/Images/Landing-landscape.jpg">-->

