.about-container{
  font-size: 22px;
  text-align: center;
  align-content: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}
.container-fluid {
  width: 75%;
}
h1 {
  color: black;
  font-size: 68px;
  font-weight: 700;
}
p {
  font-size: 20px;
}
#about-pic{
  overflow: hidden;
  position: fixed;
  width: calc(250vh);
  left: 50%;
  margin-left: -125vh;
  z-index: -4;
}
.app-link {
  width: 150px;
  margin: 10px;
}
.pic-Container {
  overflow: hidden;
}
@media (min-width: 1440px ) {
  h1 {
    font-size: 70px;
  }
  p {
    font-size: 28px;
  }
  //#about-pic {
  //  width: 2000px;
  //}
}
@media (min-width: 1921px ) {
  h1 {
    font-size: 106px;
  }
  p {
    font-size: 42px;
  }
}
@media (max-width: 769px) {
  .container-fluid {
    width: 100%;
  }
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 28px;
  }

}

