.image {
    position: fixed;
    height: 100%;
    width: 100%;
    filter: brightness(80%);
    background-image: url('../../assets/Images/photo-1539635278303-d4002c07eae3.jpg');
    background-position: center;
    background-size: cover;
}
.container-fluid{
    top: 0;
    position: absolute;
    height: 100%; 
    width: 100%;
}
.formClass {
    margin: 18% auto 0;
    width: 500px;
    background-color: rgba($color:#ffffff, $alpha: 0.6);
    padding: 10px;
    border-collapse: separate; 
    border-radius: 7px;
}
h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 70px !important;
    margin: 20px !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}
