.image {
    position: fixed;
    height: 100vh;
    width: 100%;
    filter: brightness(80%);
    background-image: url('../../assets/Images/photo-1539635278303-d4002c07eae3.jpg');
    background-position: center;
    background-size: cover;
    z-index: -10;
}
.container-fluid{
    position: absolute;
    height: 100%; 
    width: 100%;
}
.formClass {
    background-color: rgba($color:#ffffff, $alpha: 0.6);
    border-collapse: separate; 
    border-radius: 7px;
    padding: 10px;
    position: fixed;
    z-index: 4;
    width: 500px;
    height: 300px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -150px;
    //-webkit-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%);
}
h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    margin: 20px !important;
    text-shadow: black 0.1em 0.1em 0.2em !important;
}
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
@media (max-width: 768px) {
  h1 {
    font-size: 50px;
  }

  .formClass {
    background-color: rgba($color:#999999, $alpha: 0.8)
  }
}
