.app-container{
  height:750px;
  margin-top: calc(100vw /3.5);
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  background: white;
}
.container-fluid {
  width: 80%;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
}
.colContainer {
  margin-top: 40px;
}
.app-para-container {
  padding-left: 40px;
  padding-right: 30px;
}
.paragraph {
  text-align: left;
  font-size: 28px;
}
.pic-Container {
  position: absolute;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  z-index: -1;
}
.app-pic{
  width: 100%;
}
.app-pic-mobile {
  display: none;
}
.video {
  width:560px;
  height:315px;
  margin: 0 !important;
}
.colContainer {
  margin-top: 40px;
}
@media (min-width: 1920px ) {
  .container-fluid {
    width: 50%;
  }
}
@media (max-width: 1200px) {
  .app-container {
    margin-top: calc(100vw /1.75);
    height: 760px;
  }
  .app-para-container {
    display: none;
  }
  .video {
    width:calc((40vw) * 1.777777);
    height:(40vw);
  }
  .container-fluid {
    width: unset;
  }
  .app-pic{
    display: none;
  }
  .app-pic-mobile {
    width: 100%;
    display: block;
  }
}
@media (max-width: 750px) {
  .app-container {
    height: 700px;
  }
  .video {
    width:calc((50vw) * 1.777777);
    height:(50vw);
  }
}
@media (max-width: 520px) {
  .app-container {
    height: 650px;
  }
  .video {
    width:calc((70vw) * 1.777777);
    height:(70vw);
  }
}
@media (max-width: 350px) {
  .video {
    width:calc((90vw) * 1.777777);
    height:(90vw);
  }
}
