<div>
  <div class="app-container" >
    <div class="container-fluid">
      <div class="app-heading">
        <h1>Get trusted holiday recommendations from your friends.</h1>
        <h2>Search, discover & book hotels, holiday homes and apartments as recommended by your friends.</h2>
      </div>
      <div class="colContainer">
        <div class="row">
          <div class="col app-para-container" >
            <p class="paragraph">Download the social travel app you’ve been waiting for and join thousands of people finding hotels, apartments and holiday homes as recommended by their friends. Save time, money and book with confidence by having instant access to real experiences from friends who were there.</p>
          </div>
          <div class="app-video col">
            <iframe class="video" src="https://www.youtube.com/embed/LV0-bXddCeQ" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" #videoDiv></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="pic-Container">
  <img class="app-pic" src="../../assets/Images/Discover-new-inspiring.jpg" #appPic>
</div>

