.app-container{
  height:700px;
  margin-top: 500px;
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
  height: 700px;
}
.container-fluid {
  width: 80%;
}
h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  font-size: 26px;
}
.colContainer {
  margin-top: 40px;
}
.paragraph {
  text-align: left;
  font-size: 26px;
}
.app-pic{
  position: fixed;
  width: calc(250vh);
  left: 50%;
  margin-left: -125vh;
  z-index: -2;
  overflow: hidden;
}
.pic-Container {
  overflow: hidden;
}
.video {
  width:560px;
  height:315px;
  margin: 10%
}
@media (max-width: 1200px) {
  .container-fluid {
    width: 100%;
  }
  .paragraph {
    font-size: 22px;
    margin-left: 10px;
  }
}
@media (max-width: 769px) {
  .app-para-container {
    display: none;
  }
  .app-video {
    width: 100vw;
    height: 70vh;
    top: 50%;
  }
  .app-container {
    margin-top: 400px;
    height: unset;
  }
  .container-fluid {
    width: unset;
  }
}
