.app-container{
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}
.app-heading {
  margin: 0px 200px;
}
