/* You can add global styles to this file, and also import other style';*/
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'customize-bootstrap.sass';
@import "customize-bootstrap.scss";
html, body {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}
