.steps-container{
  height: 700px;
  margin-top: 500px;
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}
.list-group {
  font-size: 28px;
  list-style-image: url("../../assets/Images/6DegreesPerfectNewPNG-small.png");
}

@media (max-width: 2180px ) {
  .list-group {
    font-size: 24px;
  }
}
@media (max-width: 1860px ) {
  .list-group {
    font-size: 20px;
  }
}
@media (max-width: 1475px) {
  .img {
    visibility: hidden;
    display: none;
  }
  .list-group {
    margin-right: 0px;
  }
  .list-group-item {
    text-align: left;
  }
}
.iconBullet {
  height: 40px;
  width: 40px;
}
.stepsPic {
  background-size: cover;
  position: fixed;
  width: 100%;
  z-index: -1;
}
