.steps-container{
  height: 700px;
  margin-top: 500px;
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  overflow: hidden;
  background: white;
}
.container-fluid {
  width: 80%;
}
.list-group {
  font-size: 28px;
  list-style-image: url("../../assets/Images/6DegreesPerfectNewPNG-small.png");
}

.stepsPic {
  position: fixed;
  width: calc(250vh);
  left: 50%;
  margin-left: -125vh;
  z-index: -1;
}
.iconBullet {
  height: 40px;
  width: 40px;
}
.stepsPic {
  position: fixed;
  width: calc(250vh);
  left: 50%;
  margin-left: -125vh;
  z-index: -1;
}
.pic-Container {
  overflow: hidden;
}
@media (max-width: 2180px ) {
  .stepsPic {
    position: fixed;
    width: calc(280vh);
    left: 50%;
    margin-left: -140vh;
    z-index: -1;
  }
  .list-group {
    font-size: 24px;
  }
}
@media (max-width: 1860px ) {
  h1 {
    font-size: 36px;
    font-weight: 700;
  }
  h2 {
    font-size: 26px;
  }
  .stepsPic {
    position: fixed;
    width: calc(250vh);
    left: 50%;
    margin-left: -125vh;
    z-index: -1;
  }

  .list-group {
    font-size: 20px;
  }
}
@media (max-width: 769px) {
  h1 {
    font-size: 18px;
    font-weight: 700;
  }
  h2 {
    font-size: 16px;
  }
  .steps-container {
    height: unset;
  }
  .container-fluid {
    width: unset;
  }
  .app-carousel {
    width: 100vw;
    height: 70vh;
    left: 20%;
    top: 50%;
  }
  .stepsPic {
    position: fixed;
    width: calc(250vh);
    left: 50%;
    margin-left: -125vh;
    z-index: -1;
  }
  .stepsList {
    display: none;
  }
  .list-group {
    margin-right: 0px;
  }
  .list-group-item {
    text-align: left;
  }
}
