.steps-container{
  height: 800px;
  margin-top: calc(100vw /3.5);
  font-size: 22px;
  text-align: center;
  position: relative;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  display: block;
  background: white;
}
.container-fluid {
  width: 80%;
}
.list-unstyled {
  margin-top: 5px;
  font-size: 26px;
}
.list-item {
  margin-bottom: 20px;
}
.pic-Container {
  position: absolute;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  z-index: -1;
}
.stepsPic {
  width: 100%;
}
stepsPicMobile {
  display: none;
}
.links-mobile {
  display: none;
}
.iconBullet {
  height: 40px;
  width: 40px;
}
.app-link {
  width: 150px;
  margin: 10px;
}
.app-wrap {
  display: inline-block;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}
h2 {
  margin-right: -5px;
  margin-left: -5px;
  font-size: 22px;
}
@media (min-width: 1920px ) {
  .container-fluid {
    width: 50%;
  }
}
@media (max-width: 1400px) {
  .list-unstyled {
    margin-top: 5px;
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .steps-container {
    margin-top: calc(100vw /1.75);
    height: 920px;
  }
  .container-fluid {
    width: unset;
  }
  .carousel-container {
    text-align: center;
  }
  .app-carousel {
    width: auto;
    padding: 0;
    display: inline-block;
  }
  .unflex {
    display: block;
  }
  .stepsList {
    display: none;
  }
  .links-desktop {
    display: none;
    text-align: center;
  }
  .links-mobile {
    margin: 50px 0px 0px;
    width: 100%;
    text-align: center;
    display: unset;
  }
  .list-group {
    margin-right: 0px;
  }
  .list-group-item {
    text-align: left;
  }
  .stepsPic {
    display: none;
  }
  .stepsPicMobile {
    width: 100%;
    display: block;
  }
}
