<div class="steps-container" #container>
  <div class="container-fluid ">
    <div>
      <h1>Discover new, inspiring travel recommendations from the people closest to you.</h1>
      <h2>Access to hundreds of real experiences and recommendations from your social network at your fingertips.</h2>
    </div>
    <div class="colContainer text-left">
      <div class="row unflex">
        <div class="carousel-container" >
          <div class="app-carousel col">
            <app-phone-carousel></app-phone-carousel>
          </div>
        </div>
        <div class="row links-mobile">
          <div class="col app-wrap ">
            <a target="_blank" href="https://apps.apple.com/us/app/6-degrees-social/id1460243092 mr-5"><img class="app-link" src="../../assets/Badges/app-store-badge.png" ></a>
            <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sixdegrees.social&hl=en"><img class="app-link" src="../../assets/Badges/google-play-badge-other.png" ></a>
          </div>
        </div>
        <div class="col mt-5 stepsList">
          <ul class="list-unstyled" >
            <li class="list-item">Login with Facebook.</li>
            <li class="list-item">Connect your travel accounts to share your holiday experiences with your friends.</li>
            <li class="list-item">Share the app with your most adventurous friends to be able to see where they’ve travelled.</li>
            <li class="list-item">Discover new travel ideas inspired by your social network so you can book your next adventure with ease and confidence.</li>
          </ul>
          <div class="row links-desktop">
            <div class="col app-wrap ">
              <a target="_blank" href="https://apps.apple.com/us/app/6-degrees-social/id1460243092"><img class="app-link" src="../../assets/Badges/app-store-badge.png" ></a>
              <a target="_blank" href="https://play.google.com/store/apps/details?id=com.sixdegrees.social&hl=en"><img class="app-link" src="../../assets/Badges/google-play-badge-other.png" ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pic-Container" #stepsPic>
    <img class="stepsPic" src="../../assets/Images/Trusted-recommendations.jpg">
    <img class="stepsPicMobile" src="../../assets/Images/Trusted-recommendations-mobile.jpg">
  </div>
</div>


