<div class="steps-container">
  <div class="container-fluid w-75">
    <div>
      <h1>Get trusted holiday recommendations from your friends</h1>
      <h2 class="ml-5 mr-5 pl-5 pr-5">Search, discover & book hotels, holiday homes and apartments as recommended by your friends.</h2>
    </div>
    <div class="colContainer text-left">
      <div class="row">
        <div class="img col">
          <img src="../../assets/Images/6DegreesPerfectNewPNG.png">
        </div>
        <div class="col mt-5">
          <ul class="list-group list-group-flush" >
            <li class="list-group-item">Login with Facebook.</li>
            <li class="list-group-item">Connect your travel accounts to share your holiday experiences with your friends.</li>
            <li class="list-group-item">Share the app with your most adventurous friends to be able to see where they’ve travelled.</li>
            <li class="list-group-item">Discover new travel ideas inspired by your social network so you can book your next adventure with ease and confidence.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<img class="stepsPic" src="../../assets/Images/Trusted-recommendations.jpg" #stepsPic>
